In [1]:
import requests
import pandas as pd

In [2]:
df = pd.read_csv('info_0_250.csv')
df2 = pd.read_csv('info_250_500.csv')

In [3]:
df

,Unnamed: 0,symbol,address1,city,state,zip,country,phone,website,industry,industryKey,industryDisp,sector,sectorKey,sectorDisp,longBusinessSummary,fullTimeEmployees,maxAge
0,0,MMM,3M Center,Saint Paul,MN,55144-1000,United States,651 733 1110,https://www.3m.com,Conglomerates,conglomerates,Conglomerates,Industrials,industrials,Industrials,3M Company provides diversified technology ser...,85000.0,86400
1,1,AOS,11270 West Park Place,Milwaukee,WI,53224-9508,United States,414 359 4000,https://www.aosmith.com,Specialty Industrial Machinery,specialty-industrial-machinery,Specialty Industrial Machinery,Industrials,industrials,Industrials,A. O. Smith Corporation manufactures and marke...,12000.0,86400
2,2,ABT,100 Abbott Park Road,North Chicago,IL,60064-6400,United States,224 667 6100,https://www.abbott.com,Medical Devices,medical-devices,Medical Devices,Healthcare,healthcare,Healthcare,"Abbott Laboratories, together with its subsidi...",114000.0,86400
3,3,ABBV,1 North Waukegan Road,North Chicago,IL,60064-6400,United States,847 932 7900,https://www.abbvie.com,Drug Manufacturers - General,drug-manufacturers-general,Drug Manufacturers - General,Healthcare,healthcare,Healthcare,"AbbVie Inc. discovers, develops, manufactures,...",50000.0,86400
4,4,ACN,1 Grand Canal Square,Dublin,NaN,D02 P820,Ireland,353 1 646 2000,https://www.accenture.com,Information Technology Services,information-technology-services,Information Technology Services,Technology,technology,Technology,Accenture plc provides strategy and consulting...,774000.0,86400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243,243,IDXX,One IDEXX Drive,Westbrook,ME,04092,United States,207 556 0300,https://www.idexx.com,Diagnostics & Research,diagnostics-research,Diagnostics & Research,Healthcare,healthcare,Healthcare,"IDEXX Laboratories, Inc. develops, manufacture...",11000.0,86400
244,244,ITW,155 Harlem Avenue,Glenview,IL,60025,United States,847 724 7500,https://www.itw.com,Specialty Industrial Machinery,specialty-industrial-machinery,Specialty Industrial Machinery,Industrials,industrials,Industrials,Illinois Tool Works Inc. manufactures and sell...,45000.0,86400
245,245,INCY,1801 Augustine Cut-Off,Wilmington,DE,19803,United States,302 498 6700,https://www.incyte.com,Biotechnology,biotechnology,Biotechnology,Healthcare,healthcare,Healthcare,"Incyte Corporation, a biopharmaceutical compan...",2524.0,86400
246,246,IR,525 Harbour Place Drive,Davidson,NC,28036,United States,704 655 4000,https://www.irco.com,Specialty Industrial Machinery,specialty-industrial-machinery,Specialty Industrial Machinery,Industrials,industrials,Industrials,Ingersoll Rand Inc. provides various mission-c...,18000.0,86400
247,247,PODD,100 Nagog Park,Acton,MA,01720,United States,978 600 7000,https://www.insulet.com,Medical Devices,medical-devices,Medical Devices,Healthcare,healthcare,Healthcare,"Insulet Corporation develops, manufactures, an...",3000.0,86400

In [39]:
df.dtypes

Unnamed: 0               int64
symbol                  object
address1                object
city                    object
state                   object
zip                     object
country                 object
phone                   object
website                 object
industry                object
industryKey             object
industryDisp            object
sector                  object
sectorKey               object
sectorDisp              object
longBusinessSummary     object
fullTimeEmployees      float64
maxAge                   int64
dtype: object

In [5]:
df3 = pd.read_csv('prices_0_200.csv')

In [6]:
df3

       Unnamed: 0 symbol    timestamps       price
0               0    MMM -2.524428e+08    0.596781
1               1    MMM -2.446668e+08    0.401557
2               2    MMM -2.368080e+08    0.415478
3               3    MMM -2.288592e+08    0.455712
4               4    MMM -2.209068e+08    0.503857
...           ...    ...           ...         ...
52350         305     GS  1.730434e+09  605.570007
52351         306     GS  1.733029e+09  569.797180
52352         307     GS  1.735708e+09  640.400024
52353         308     GS  1.738386e+09  655.900024
52354         309     GS  1.738962e+09  655.900024

[52355 rows x 4 columns]

In [7]:
# Important to clean the timestaps. 
df3['timestamps'] = pd.to_datetime(df3["timestamps"], unit="s")

df3

       Unnamed: 0 symbol          timestamps       price
0               0    MMM 1962-01-01 05:00:00    0.596781
1               1    MMM 1962-04-01 05:00:00    0.401557
2               2    MMM 1962-07-01 04:00:00    0.415478
3               3    MMM 1962-10-01 04:00:00    0.455712
4               4    MMM 1963-01-01 05:00:00    0.503857
...           ...    ...                 ...         ...
52350         305     GS 2024-11-01 04:00:00  605.570007
52351         306     GS 2024-12-01 05:00:00  569.797180
52352         307     GS 2025-01-01 05:00:00  640.400024
52353         308     GS 2025-02-01 05:00:00  655.900024
52354         309     GS 2025-02-07 21:00:02  655.900024

[52355 rows x 4 columns]

In [8]:
df3.sample(30)

       Unnamed: 0 symbol          timestamps       price
33487         137    DVN 2019-10-01 04:00:00   19.319563
18619         231    CPT 2012-11-01 04:00:00   40.846474
28104         212   CPRT 2011-12-01 05:00:00    2.993125
17956         175   CHRW 2012-06-01 04:00:00   43.229767
34268         125    DFS 2017-12-01 05:00:00   65.606720
13569         133   TECH 2000-04-01 05:00:00    7.481926
13869           0   BIIB 1991-10-01 04:00:00    3.083333
22000          25     CF 2007-10-01 04:00:00   12.485589
51242         167   GILD 2006-01-01 05:00:00   10.867948
46510          51    FMC 1997-09-01 04:00:00    6.340566
21285         110    COR 2004-07-01 04:00:00   10.253751
7542          102   AMGN 2010-06-01 04:00:00   35.893616
37723          45    EIX 1996-02-01 05:00:00    6.264560
3881            1   ALLE 2014-01-01 05:00:00   44.190887
20177         230   CARR 2024-08-12 04:00:00   66.977646
20613          70   CBRE 2010-05-01 04:00:00   15.830000
1892          161    AFL 2025-02-07 21:00:02  103.580002
40170          48    EFX 1996-12-01 05:00:00   12.164141
40693         114    EQR 2003-03-01 05:00:00    8.639036
12783          43    BAC 1995-08-01 04:00:00    7.644631
23182          43    CVX 1995-10-01 04:00:00    9.102090
22387         177    CRL 2015-04-01 04:00:00   69.160004
34797         257   DLTR 2016-09-01 04:00:00   78.930000
34212          69    DFS 2013-04-01 04:00:00   34.115631
13021         118    BAX 2014-07-01 04:00:00   32.600105
32290         137   DECK 2005-04-01 05:00:00    1.170556
4532          353    ALL 2022-12-01 05:00:00  128.901611
45449         140    FIS 2013-03-01 05:00:00   32.361546
26453          99     CL 2009-08-01 04:00:00   27.303787
8251           87   ANSS 2003-10-01 04:00:00    8.910000

In [9]:
df3.dtypes

Unnamed: 0             int64
symbol                object
timestamps    datetime64[ns]
price                float64
dtype: object

In [10]:
df[df['symbol'] == "AAPL"]

,Unnamed: 0,symbol,address1,city,state,zip,country,phone,website,industry,industryKey,industryDisp,sector,sectorKey,sectorDisp,longBusinessSummary,fullTimeEmployees,maxAge
39,39,AAPL,One Apple Park Way,Cupertino,CA,95014,United States,(408) 996-1010,https://www.apple.com,Consumer Electronics,consumer-electronics,Consumer Electronics,Technology,technology,Technology,"Apple Inc. designs, manufactures, and markets ...",164000.0,86400

In [11]:
final_df = pd.concat([df, df2], axis=0)

In [12]:
final_df

,Unnamed: 0,symbol,address1,city,state,zip,country,phone,website,industry,industryKey,industryDisp,sector,sectorKey,sectorDisp,longBusinessSummary,fullTimeEmployees,maxAge
0,0,MMM,3M Center,Saint Paul,MN,55144-1000,United States,651 733 1110,https://www.3m.com,Conglomerates,conglomerates,Conglomerates,Industrials,industrials,Industrials,3M Company provides diversified technology ser...,85000.0,86400
1,1,AOS,11270 West Park Place,Milwaukee,WI,53224-9508,United States,414 359 4000,https://www.aosmith.com,Specialty Industrial Machinery,specialty-industrial-machinery,Specialty Industrial Machinery,Industrials,industrials,Industrials,A. O. Smith Corporation manufactures and marke...,12000.0,86400
2,2,ABT,100 Abbott Park Road,North Chicago,IL,60064-6400,United States,224 667 6100,https://www.abbott.com,Medical Devices,medical-devices,Medical Devices,Healthcare,healthcare,Healthcare,"Abbott Laboratories, together with its subsidi...",114000.0,86400
3,3,ABBV,1 North Waukegan Road,North Chicago,IL,60064-6400,United States,847 932 7900,https://www.abbvie.com,Drug Manufacturers - General,drug-manufacturers-general,Drug Manufacturers - General,Healthcare,healthcare,Healthcare,"AbbVie Inc. discovers, develops, manufactures,...",50000.0,86400
4,4,ACN,1 Grand Canal Square,Dublin,NaN,D02 P820,Ireland,353 1 646 2000,https://www.accenture.com,Information Technology Services,information-technology-services,Information Technology Services,Technology,technology,Technology,Accenture plc provides strategy and consulting...,774000.0,86400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
248,248,XYL,300 Water Street SE,Washington,DC,20003,United States,202 869 9150,https://www.xylem.com,Specialty Industrial Machinery,specialty-industrial-machinery,Specialty Industrial Machinery,Industrials,industrials,Industrials,"Xylem Inc., together with its subsidiaries, en...",23000.0,86400
249,249,YUM,1441 Gardiner Lane,Louisville,KY,40213,United States,502 874 8300,https://www.yum.com,Restaurants,restaurants,Restaurants,Consumer Cyclical,consumer-cyclical,Consumer Cyclical,"Yum! Brands, Inc., together with its subsidiar...",35000.0,86400
250,250,ZBRA,3 Overlook Point,Lincolnshire,IL,60069,United States,847 634 6700,https://www.zebra.com,Communication Equipment,communication-equipment,Communication Equipment,Technology,technology,Technology,"Zebra Technologies Corporation, together with ...",9750.0,86400
251,251,ZBH,345 East Main Street,Warsaw,IN,46580,United States,574 373 3333,https://www.zimmerbiomet.com,Medical Devices,medical-devices,Medical Devices,Healthcare,healthcare,Healthcare,"Zimmer Biomet Holdings, Inc., together with it...",18000.0,86400
252,252,ZTS,10 Sylvan Way,Parsippany,NJ,07054,United States,973 822 7000,https://www.zoetis.com,Drug Manufacturers - Specialty & Generic,drug-manufacturers-specialty-generic,Drug Manufacturers - Specialty & Generic,Healthcare,healthcare,Healthcare,"Zoetis Inc. engages in the discovery, developm...",14100.0,86400

In [13]:
df3 = pd.read_csv('extrainfo.csv')

In [14]:
df3

,Unnamed: 0,currency,symbol,exchangeName,fullExchangeName,instrumentType,firstTradeDate,regularMarketTime,hasPrePostMarketData,gmtoffset,...,regularMarketPrice,fiftyTwoWeekHigh,fiftyTwoWeekLow,regularMarketDayHigh,regularMarketDayLow,regularMarketVolume,longName,shortName,chartPreviousClose,priceHint
0,0,USD,MMM,NYQ,NYSE,EQUITY,-252322200,1738962002,True,-18000,...,149.870,155.00,75.652,152.900,149.550,2741900,3M Company,3M Company,3.475,2
1,1,USD,AOS,NYQ,NYSE,EQUITY,433776600,1738962002,True,-18000,...,65.160,92.45,64.940,66.210,65.050,1175632,A. O. Smith Corporation,A.O. Smith Corporation,1.083,2
2,2,USD,ABT,NYQ,NYSE,EQUITY,322151400,1738962002,True,-18000,...,129.070,132.50,99.710,129.490,128.330,6234761,Abbott Laboratories,Abbott Laboratories,0.502,2
3,3,USD,ABBV,NYQ,NYSE,EQUITY,1357137000,1738962002,True,-18000,...,190.600,207.32,153.580,193.860,190.435,3787120,AbbVie Inc.,AbbVie Inc.,35.120,2
4,4,USD,ACN,NYQ,NYSE,EQUITY,995549400,1738962002,True,-18000,...,385.980,398.35,278.690,390.530,385.360,1734937,Accenture plc,Accenture plc,15.170,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
463,463,USD,XYL,NYQ,NYSE,EQUITY,1318512600,1739198273,True,-18000,...,131.295,146.08,113.260,131.945,131.040,152337,Xylem Inc.,Xylem Inc.,24.250,2
464,464,USD,YUM,NYQ,NYSE,EQUITY,874503000,1739198310,True,-18000,...,144.305,144.96,122.130,144.960,144.045,81579,"Yum! Brands, Inc.","Yum! Brands, Inc.",5.235,2
465,465,USD,ZBRA,NMS,NasdaqGS,EQUITY,682263000,1739198246,True,-18000,...,362.270,427.76,243.490,365.430,362.270,28886,Zebra Technologies Corporation,Zebra Technologies Corporation,4.056,2
466,466,USD,ZBH,NYQ,NYSE,EQUITY,996067800,1739198320,True,-18000,...,100.700,133.90,99.930,101.570,100.700,35930,"Zimmer Biomet Holdings, Inc.","Zimmer Biomet Holdings, Inc.",28.893,2
467,467,USD,ZTS,NYQ,NYSE,EQUITY,1359729000,1739198303,True,-18000,...,171.180,200.53,144.800,171.740,170.520,95208,Zoetis Inc.,Zoetis Inc.,31.010,2

In [15]:
pd.set_option('display.max_columns', None)

In [16]:
df3

,Unnamed: 0,currency,symbol,exchangeName,fullExchangeName,instrumentType,firstTradeDate,regularMarketTime,hasPrePostMarketData,gmtoffset,timezone,exchangeTimezoneName,regularMarketPrice,fiftyTwoWeekHigh,fiftyTwoWeekLow,regularMarketDayHigh,regularMarketDayLow,regularMarketVolume,longName,shortName,chartPreviousClose,priceHint
0,0,USD,MMM,NYQ,NYSE,EQUITY,-252322200,1738962002,True,-18000,EST,America/New_York,149.870,155.00,75.652,152.900,149.550,2741900,3M Company,3M Company,3.475,2
1,1,USD,AOS,NYQ,NYSE,EQUITY,433776600,1738962002,True,-18000,EST,America/New_York,65.160,92.45,64.940,66.210,65.050,1175632,A. O. Smith Corporation,A.O. Smith Corporation,1.083,2
2,2,USD,ABT,NYQ,NYSE,EQUITY,322151400,1738962002,True,-18000,EST,America/New_York,129.070,132.50,99.710,129.490,128.330,6234761,Abbott Laboratories,Abbott Laboratories,0.502,2
3,3,USD,ABBV,NYQ,NYSE,EQUITY,1357137000,1738962002,True,-18000,EST,America/New_York,190.600,207.32,153.580,193.860,190.435,3787120,AbbVie Inc.,AbbVie Inc.,35.120,2
4,4,USD,ACN,NYQ,NYSE,EQUITY,995549400,1738962002,True,-18000,EST,America/New_York,385.980,398.35,278.690,390.530,385.360,1734937,Accenture plc,Accenture plc,15.170,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
463,463,USD,XYL,NYQ,NYSE,EQUITY,1318512600,1739198273,True,-18000,EST,America/New_York,131.295,146.08,113.260,131.945,131.040,152337,Xylem Inc.,Xylem Inc.,24.250,2
464,464,USD,YUM,NYQ,NYSE,EQUITY,874503000,1739198310,True,-18000,EST,America/New_York,144.305,144.96,122.130,144.960,144.045,81579,"Yum! Brands, Inc.","Yum! Brands, Inc.",5.235,2
465,465,USD,ZBRA,NMS,NasdaqGS,EQUITY,682263000,1739198246,True,-18000,EST,America/New_York,362.270,427.76,243.490,365.430,362.270,28886,Zebra Technologies Corporation,Zebra Technologies Corporation,4.056,2
466,466,USD,ZBH,NYQ,NYSE,EQUITY,996067800,1739198320,True,-18000,EST,America/New_York,100.700,133.90,99.930,101.570,100.700,35930,"Zimmer Biomet Holdings, Inc.","Zimmer Biomet Holdings, Inc.",28.893,2
467,467,USD,ZTS,NYQ,NYSE,EQUITY,1359729000,1739198303,True,-18000,EST,America/New_York,171.180,200.53,144.800,171.740,170.520,95208,Zoetis Inc.,Zoetis Inc.,31.010,2

In [17]:
definitive = pd.merge(final_df, df3, on='symbol')

In [18]:
definitive

,Unnamed: 0_x,symbol,address1,city,state,zip,country,phone,website,industry,industryKey,industryDisp,sector,sectorKey,sectorDisp,longBusinessSummary,fullTimeEmployees,maxAge,Unnamed: 0_y,currency,exchangeName,fullExchangeName,instrumentType,firstTradeDate,regularMarketTime,hasPrePostMarketData,gmtoffset,timezone,exchangeTimezoneName,regularMarketPrice,fiftyTwoWeekHigh,fiftyTwoWeekLow,regularMarketDayHigh,regularMarketDayLow,regularMarketVolume,longName,shortName,chartPreviousClose,priceHint
0,0,MMM,3M Center,Saint Paul,MN,55144-1000,United States,651 733 1110,https://www.3m.com,Conglomerates,conglomerates,Conglomerates,Industrials,industrials,Industrials,3M Company provides diversified technology ser...,85000.0,86400,0,USD,NYQ,NYSE,EQUITY,-252322200,1738962002,True,-18000,EST,America/New_York,149.870,155.00,75.652,152.900,149.550,2741900,3M Company,3M Company,3.475,2
1,1,AOS,11270 West Park Place,Milwaukee,WI,53224-9508,United States,414 359 4000,https://www.aosmith.com,Specialty Industrial Machinery,specialty-industrial-machinery,Specialty Industrial Machinery,Industrials,industrials,Industrials,A. O. Smith Corporation manufactures and marke...,12000.0,86400,1,USD,NYQ,NYSE,EQUITY,433776600,1738962002,True,-18000,EST,America/New_York,65.160,92.45,64.940,66.210,65.050,1175632,A. O. Smith Corporation,A.O. Smith Corporation,1.083,2
2,2,ABT,100 Abbott Park Road,North Chicago,IL,60064-6400,United States,224 667 6100,https://www.abbott.com,Medical Devices,medical-devices,Medical Devices,Healthcare,healthcare,Healthcare,"Abbott Laboratories, together with its subsidi...",114000.0,86400,2,USD,NYQ,NYSE,EQUITY,322151400,1738962002,True,-18000,EST,America/New_York,129.070,132.50,99.710,129.490,128.330,6234761,Abbott Laboratories,Abbott Laboratories,0.502,2
3,3,ABBV,1 North Waukegan Road,North Chicago,IL,60064-6400,United States,847 932 7900,https://www.abbvie.com,Drug Manufacturers - General,drug-manufacturers-general,Drug Manufacturers - General,Healthcare,healthcare,Healthcare,"AbbVie Inc. discovers, develops, manufactures,...",50000.0,86400,3,USD,NYQ,NYSE,EQUITY,1357137000,1738962002,True,-18000,EST,America/New_York,190.600,207.32,153.580,193.860,190.435,3787120,AbbVie Inc.,AbbVie Inc.,35.120,2
4,4,ACN,1 Grand Canal Square,Dublin,NaN,D02 P820,Ireland,353 1 646 2000,https://www.accenture.com,Information Technology Services,information-technology-services,Information Technology Services,Technology,technology,Technology,Accenture plc provides strategy and consulting...,774000.0,86400,4,USD,NYQ,NYSE,EQUITY,995549400,1738962002,True,-18000,EST,America/New_York,385.980,398.35,278.690,390.530,385.360,1734937,Accenture plc,Accenture plc,15.170,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
463,248,XYL,300 Water Street SE,Washington,DC,20003,United States,202 869 9150,https://www.xylem.com,Specialty Industrial Machinery,specialty-industrial-machinery,Specialty Industrial Machinery,Industrials,industrials,Industrials,"Xylem Inc., together with its subsidiaries, en...",23000.0,86400,463,USD,NYQ,NYSE,EQUITY,1318512600,1739198273,True,-18000,EST,America/New_York,131.295,146.08,113.260,131.945,131.040,152337,Xylem Inc.,Xylem Inc.,24.250,2
464,249,YUM,1441 Gardiner Lane,Louisville,KY,40213,United States,502 874 8300,https://www.yum.com,Restaurants,restaurants,Restaurants,Consumer Cyclical,consumer-cyclical,Consumer Cyclical,"Yum! Brands, Inc., together with its subsidiar...",35000.0,86400,464,USD,NYQ,NYSE,EQUITY,874503000,1739198310,True,-18000,EST,America/New_York,144.305,144.96,122.130,144.960,144.045,81579,"Yum! Brands, Inc.","Yum! Brands, Inc.",5.235,2
465,250,ZBRA,3 Overlook Point,Lincolnshire,IL,60069,United States,847 634 6700,https://www.zebra.com,Communication Equipment,communication-equipment,Communication Equipment,Technology,technology,Technology,"Zebra Technologies Corporation, together with ...",9750.0,86400,465,USD,NMS,NasdaqGS,EQUITY,682263000,1739198246,True,-18000,EST,America/New_York,362.270,427.76,243.490,365.430,362.270,28886,Zebra Technologies Corporation,Zebra Technologies Corporation,4.056,2
466,251,ZBH,345 East Main Street,Warsaw,IN,46580,United States,574 373 3333,https://www.zimmerbiomet.com,Medical Devices,medical-devices,Medical Devices,Healthcare,healthcare,Healthcare,"Zimmer Biomet Holdings, Inc., together with it...",18000.0,86400,466,USD,NYQ,NYSE,EQUITY,996067800,1739198320,True,-18000,EST,America/New_York,100.700,133.90,99.930,101.570,100.700,35930,"Zimmer Biomet Holdings, Inc.","Zimmer Biomet Holdings, Inc.",28.893,2
467,252,ZTS,10 Sylvan Way,Parsippany,NJ,07054,United States,973 822 7000,https://www.zoetis.com,Drug Manufacturers - Specialty & Generic,drug-manufacturers-specialty-generic,Drug Manufacturers - Specialty & Generic,Healthcare,healthcare,Healthcare,"Zoetis Inc. engages in the discovery, developm...",14100.0,86400,467,USD,NYQ,NYSE,EQUITY,1359729000,1739198303,True,-18000,EST,America/New_York,171.180,200.53,144.800,171.740,170.520,95208,Zoetis Inc.,Zoetis Inc.,31.010,2

In [19]:
definitive.columns

Index(['Unnamed: 0_x', 'symbol', 'address1', 'city', 'state', 'zip', 'country',
       'phone', 'website', 'industry', 'industryKey', 'industryDisp', 'sector',
       'sectorKey', 'sectorDisp', 'longBusinessSummary', 'fullTimeEmployees',
       'maxAge', 'Unnamed: 0_y', 'currency', 'exchangeName',
       'fullExchangeName', 'instrumentType', 'firstTradeDate',
       'regularMarketTime', 'hasPrePostMarketData', 'gmtoffset', 'timezone',
       'exchangeTimezoneName', 'regularMarketPrice', 'fiftyTwoWeekHigh',
       'fiftyTwoWeekLow', 'regularMarketDayHigh', 'regularMarketDayLow',
       'regularMarketVolume', 'longName', 'shortName', 'chartPreviousClose',
       'priceHint'],
      dtype='object')

In [20]:
definitive.columns = [col.lower().replace(" ", "_")for col in definitive.columns]

In [21]:
definitive

,unnamed:_0_x,symbol,address1,city,state,zip,country,phone,website,industry,industrykey,industrydisp,sector,sectorkey,sectordisp,longbusinesssummary,fulltimeemployees,maxage,unnamed:_0_y,currency,exchangename,fullexchangename,instrumenttype,firsttradedate,regularmarkettime,hasprepostmarketdata,gmtoffset,timezone,exchangetimezonename,regularmarketprice,fiftytwoweekhigh,fiftytwoweeklow,regularmarketdayhigh,regularmarketdaylow,regularmarketvolume,longname,shortname,chartpreviousclose,pricehint
0,0,MMM,3M Center,Saint Paul,MN,55144-1000,United States,651 733 1110,https://www.3m.com,Conglomerates,conglomerates,Conglomerates,Industrials,industrials,Industrials,3M Company provides diversified technology ser...,85000.0,86400,0,USD,NYQ,NYSE,EQUITY,-252322200,1738962002,True,-18000,EST,America/New_York,149.870,155.00,75.652,152.900,149.550,2741900,3M Company,3M Company,3.475,2
1,1,AOS,11270 West Park Place,Milwaukee,WI,53224-9508,United States,414 359 4000,https://www.aosmith.com,Specialty Industrial Machinery,specialty-industrial-machinery,Specialty Industrial Machinery,Industrials,industrials,Industrials,A. O. Smith Corporation manufactures and marke...,12000.0,86400,1,USD,NYQ,NYSE,EQUITY,433776600,1738962002,True,-18000,EST,America/New_York,65.160,92.45,64.940,66.210,65.050,1175632,A. O. Smith Corporation,A.O. Smith Corporation,1.083,2
2,2,ABT,100 Abbott Park Road,North Chicago,IL,60064-6400,United States,224 667 6100,https://www.abbott.com,Medical Devices,medical-devices,Medical Devices,Healthcare,healthcare,Healthcare,"Abbott Laboratories, together with its subsidi...",114000.0,86400,2,USD,NYQ,NYSE,EQUITY,322151400,1738962002,True,-18000,EST,America/New_York,129.070,132.50,99.710,129.490,128.330,6234761,Abbott Laboratories,Abbott Laboratories,0.502,2
3,3,ABBV,1 North Waukegan Road,North Chicago,IL,60064-6400,United States,847 932 7900,https://www.abbvie.com,Drug Manufacturers - General,drug-manufacturers-general,Drug Manufacturers - General,Healthcare,healthcare,Healthcare,"AbbVie Inc. discovers, develops, manufactures,...",50000.0,86400,3,USD,NYQ,NYSE,EQUITY,1357137000,1738962002,True,-18000,EST,America/New_York,190.600,207.32,153.580,193.860,190.435,3787120,AbbVie Inc.,AbbVie Inc.,35.120,2
4,4,ACN,1 Grand Canal Square,Dublin,NaN,D02 P820,Ireland,353 1 646 2000,https://www.accenture.com,Information Technology Services,information-technology-services,Information Technology Services,Technology,technology,Technology,Accenture plc provides strategy and consulting...,774000.0,86400,4,USD,NYQ,NYSE,EQUITY,995549400,1738962002,True,-18000,EST,America/New_York,385.980,398.35,278.690,390.530,385.360,1734937,Accenture plc,Accenture plc,15.170,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
463,248,XYL,300 Water Street SE,Washington,DC,20003,United States,202 869 9150,https://www.xylem.com,Specialty Industrial Machinery,specialty-industrial-machinery,Specialty Industrial Machinery,Industrials,industrials,Industrials,"Xylem Inc., together with its subsidiaries, en...",23000.0,86400,463,USD,NYQ,NYSE,EQUITY,1318512600,1739198273,True,-18000,EST,America/New_York,131.295,146.08,113.260,131.945,131.040,152337,Xylem Inc.,Xylem Inc.,24.250,2
464,249,YUM,1441 Gardiner Lane,Louisville,KY,40213,United States,502 874 8300,https://www.yum.com,Restaurants,restaurants,Restaurants,Consumer Cyclical,consumer-cyclical,Consumer Cyclical,"Yum! Brands, Inc., together with its subsidiar...",35000.0,86400,464,USD,NYQ,NYSE,EQUITY,874503000,1739198310,True,-18000,EST,America/New_York,144.305,144.96,122.130,144.960,144.045,81579,"Yum! Brands, Inc.","Yum! Brands, Inc.",5.235,2
465,250,ZBRA,3 Overlook Point,Lincolnshire,IL,60069,United States,847 634 6700,https://www.zebra.com,Communication Equipment,communication-equipment,Communication Equipment,Technology,technology,Technology,"Zebra Technologies Corporation, together with ...",9750.0,86400,465,USD,NMS,NasdaqGS,EQUITY,682263000,1739198246,True,-18000,EST,America/New_York,362.270,427.76,243.490,365.430,362.270,28886,Zebra Technologies Corporation,Zebra Technologies Corporation,4.056,2
466,251,ZBH,345 East Main Street,Warsaw,IN,46580,United States,574 373 3333,https://www.zimmerbiomet.com,Medical Devices,medical-devices,Medical Devices,Healthcare,healthcare,Healthcare,"Zimmer Biomet Holdings, Inc., together with it...",18000.0,86400,466,USD,NYQ,NYSE,EQUITY,996067800,1739198320,True,-18000,EST,America/New_York,100.700,133.90,99.930,101.570,100.700,35930,"Zimmer Biomet Holdings, Inc.","Zimmer Biomet Holdings, Inc.",28.893,2
467,252,ZTS,10 Sylvan Way,Parsippany,NJ,07054,United States,973 822 7000,https://www.zoetis.com,Drug Manufacturers - Specialty & Generic,drug-manufacturers-specialty-generic,Drug Manufacturers - Specialty & Generic,Healthcare,healthcare,Healthcare,"Zoetis Inc. engages in the discovery, developm...",14100.0,86400,467,USD,NYQ,NYSE,EQUITY,1359729000,1739198303,True,-18000,EST,America/New_York,171.180,200.53,144.800,171.740,170.520,95208,Zoetis Inc.,Zoetis Inc.,31.010,2

In [22]:
# Delete columns. 
cols = ['symbol','shortname', 'address1', 'city', 'state', 'zip', 'country',
       'phone', 'website', 'industry', 'sector', 'longbusinesssummary', 'fulltimeemployees', 'exchangename',
       'fullexchangename','exchangetimezonename', 'regularmarketprice', 'fiftytwoweekhigh',
       'fiftytwoweeklow', 'regularmarketdayhigh', 'regularmarketdaylow',
       'regularmarketvolume', 'chartpreviousclose','pricehint']
definitive = definitive[cols]
definitive.sample(10)

,symbol,shortname,address1,city,state,zip,country,phone,website,industry,sector,longbusinesssummary,fulltimeemployees,exchangename,fullexchangename,exchangetimezonename,regularmarketprice,fiftytwoweekhigh,fiftytwoweeklow,regularmarketdayhigh,regularmarketdaylow,regularmarketvolume,chartpreviousclose,pricehint
123,CTVA,"Corteva, Inc.",9330 Zionsville Road,Indianapolis,IN,46268,United States,833 267 8382,https://www.corteva.com,Agricultural Inputs,Basic Materials,"Corteva, Inc. operates in the agriculture busi...",22500.0,NYQ,NYSE,America/New_York,62.340,66.24,50.01,64.615,61.990,5084627,29.000,2
38,AAPL,Apple Inc.,One Apple Park Way,Cupertino,CA,95014,United States,(408) 996-1010,https://www.apple.com,Consumer Electronics,Technology,"Apple Inc. designs, manufactures, and markets ...",164000.0,NMS,NasdaqGS,America/New_York,227.630,260.10,164.08,234.000,227.260,38983016,0.128,2
366,PEG,Public Service Enterprise Group,80 Park Plaza,Newark,NJ,07102,United States,973 430 7000,https://investor.pseg.com/home/default.aspx,Utilities - Regulated Electric,Utilities,"Public Service Enterprise Group Incorporated, ...",12543.0,NYQ,NYSE,America/New_York,83.896,95.22,57.40,83.945,83.896,14579,6.375,2
284,LIN,Linde plc,"Forge, 43 Church Street West",Woking,NaN,GU21 6HT,United Kingdom,44 14 8324 2200,https://www.linde.com,Specialty Chemicals,Basic Materials,Linde plc operates as an industrial gas compan...,65596.0,NMS,NasdaqGS,America/New_York,455.050,487.49,410.69,458.160,452.570,1656179,7.938,2
304,MDT,Medtronic plc.,Building Two,Galway,NaN,NaN,Ireland,353 1 438 1700,https://www.medtronic.com,Medical Devices,Healthcare,"Medtronic plc develops, manufactures, and sell...",95000.0,NYQ,NYSE,America/New_York,90.010,93.08,75.96,91.170,89.550,6317129,0.352,2
409,TROW,"T. Rowe Price Group, Inc.",100 East Pratt Street,Baltimore,MD,21202,United States,410 345 2000,https://www.troweprice.com,Asset Management,Financial Services,"T. Rowe Price Group, Inc. is a publicly owned ...",8104.0,NMS,NasdaqGS,America/New_York,109.950,125.81,100.49,110.670,109.950,41501,0.805,2
22,AMZN,"Amazon.com, Inc.",410 Terry Avenue North,Seattle,WA,98109-5210,United States,206 266 1000,https://www.aboutamazon.com,Internet Retail,Consumer Cyclical,"Amazon.com, Inc. engages in the retail sale of...",1551000.0,NMS,NasdaqGS,America/New_York,229.150,242.52,151.61,234.810,228.070,77324451,0.098,2
151,DTE,DTE Energy Company,One Energy Plaza,Detroit,MI,48226-1279,United States,313 235 4000,https://www.dteenergy.com,Utilities - Regulated Electric,Utilities,DTE Energy Company engages in the utility oper...,9412.0,NYQ,NYSE,America/New_York,122.700,131.67,103.06,122.880,121.445,1177399,25.851,2
251,IVZ,Invesco Ltd,Midtown Union,Atlanta,GA,30309,United States,404 892 0896,https://www.invesco.com,Asset Management,Financial Services,Invesco Ltd. is a publicly owned investment ma...,8524.0,NYQ,NYSE,America/New_York,18.910,19.55,14.16,19.270,18.810,3547127,6.800,2
242,IR,Ingersoll Rand Inc.,525 Harbour Place Drive,Davidson,NC,28036,United States,704 655 4000,https://www.irco.com,Specialty Industrial Machinery,Industrials,Ingersoll Rand Inc. provides various mission-c...,18000.0,NYQ,NYSE,America/New_York,90.950,106.03,83.72,92.740,90.600,2358293,21.100,2

In [23]:
definitive

,symbol,shortname,address1,city,state,zip,country,phone,website,industry,sector,longbusinesssummary,fulltimeemployees,exchangename,fullexchangename,exchangetimezonename,regularmarketprice,fiftytwoweekhigh,fiftytwoweeklow,regularmarketdayhigh,regularmarketdaylow,regularmarketvolume,chartpreviousclose,pricehint
0,MMM,3M Company,3M Center,Saint Paul,MN,55144-1000,United States,651 733 1110,https://www.3m.com,Conglomerates,Industrials,3M Company provides diversified technology ser...,85000.0,NYQ,NYSE,America/New_York,149.870,155.00,75.652,152.900,149.550,2741900,3.475,2
1,AOS,A.O. Smith Corporation,11270 West Park Place,Milwaukee,WI,53224-9508,United States,414 359 4000,https://www.aosmith.com,Specialty Industrial Machinery,Industrials,A. O. Smith Corporation manufactures and marke...,12000.0,NYQ,NYSE,America/New_York,65.160,92.45,64.940,66.210,65.050,1175632,1.083,2
2,ABT,Abbott Laboratories,100 Abbott Park Road,North Chicago,IL,60064-6400,United States,224 667 6100,https://www.abbott.com,Medical Devices,Healthcare,"Abbott Laboratories, together with its subsidi...",114000.0,NYQ,NYSE,America/New_York,129.070,132.50,99.710,129.490,128.330,6234761,0.502,2
3,ABBV,AbbVie Inc.,1 North Waukegan Road,North Chicago,IL,60064-6400,United States,847 932 7900,https://www.abbvie.com,Drug Manufacturers - General,Healthcare,"AbbVie Inc. discovers, develops, manufactures,...",50000.0,NYQ,NYSE,America/New_York,190.600,207.32,153.580,193.860,190.435,3787120,35.120,2
4,ACN,Accenture plc,1 Grand Canal Square,Dublin,NaN,D02 P820,Ireland,353 1 646 2000,https://www.accenture.com,Information Technology Services,Technology,Accenture plc provides strategy and consulting...,774000.0,NYQ,NYSE,America/New_York,385.980,398.35,278.690,390.530,385.360,1734937,15.170,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
463,XYL,Xylem Inc.,300 Water Street SE,Washington,DC,20003,United States,202 869 9150,https://www.xylem.com,Specialty Industrial Machinery,Industrials,"Xylem Inc., together with its subsidiaries, en...",23000.0,NYQ,NYSE,America/New_York,131.295,146.08,113.260,131.945,131.040,152337,24.250,2
464,YUM,"Yum! Brands, Inc.",1441 Gardiner Lane,Louisville,KY,40213,United States,502 874 8300,https://www.yum.com,Restaurants,Consumer Cyclical,"Yum! Brands, Inc., together with its subsidiar...",35000.0,NYQ,NYSE,America/New_York,144.305,144.96,122.130,144.960,144.045,81579,5.235,2
465,ZBRA,Zebra Technologies Corporation,3 Overlook Point,Lincolnshire,IL,60069,United States,847 634 6700,https://www.zebra.com,Communication Equipment,Technology,"Zebra Technologies Corporation, together with ...",9750.0,NMS,NasdaqGS,America/New_York,362.270,427.76,243.490,365.430,362.270,28886,4.056,2
466,ZBH,"Zimmer Biomet Holdings, Inc.",345 East Main Street,Warsaw,IN,46580,United States,574 373 3333,https://www.zimmerbiomet.com,Medical Devices,Healthcare,"Zimmer Biomet Holdings, Inc., together with it...",18000.0,NYQ,NYSE,America/New_York,100.700,133.90,99.930,101.570,100.700,35930,28.893,2
467,ZTS,Zoetis Inc.,10 Sylvan Way,Parsippany,NJ,07054,United States,973 822 7000,https://www.zoetis.com,Drug Manufacturers - Specialty & Generic,Healthcare,"Zoetis Inc. engages in the discovery, developm...",14100.0,NYQ,NYSE,America/New_York,171.180,200.53,144.800,171.740,170.520,95208,31.010,2

In [24]:
df3 = pd.read_csv('historical_prices_final.csv')

In [25]:
df3

        Unnamed: 0 symbol           timestamps       price
0                0    MMM  1962-01-01 05:00:00    0.596781
1                1    MMM  1962-04-01 05:00:00    0.401557
2                2    MMM  1962-07-01 04:00:00    0.415478
3                3    MMM  1962-10-01 04:00:00    0.455712
4                4    MMM  1963-01-01 05:00:00    0.503856
...            ...    ...                  ...         ...
111004         141    ZTS  2024-11-01 04:00:00  174.721786
111005         142    ZTS  2024-12-01 05:00:00  162.438919
111006         143    ZTS  2025-01-01 05:00:00  170.384903
111007         144    ZTS  2025-02-01 05:00:00  171.429993
111008         145    ZTS  2025-02-10 14:38:23  171.179993

[111009 rows x 4 columns]

In [26]:
df3.drop(columns='Unnamed: 0', inplace=True)

In [27]:
df3.head(25)

   symbol           timestamps     price
0     MMM  1962-01-01 05:00:00  0.596781
1     MMM  1962-04-01 05:00:00  0.401557
2     MMM  1962-07-01 04:00:00  0.415478
3     MMM  1962-10-01 04:00:00  0.455712
4     MMM  1963-01-01 05:00:00  0.503856
5     MMM  1963-04-01 05:00:00  0.494912
6     MMM  1963-07-01 04:00:00  0.530481
7     MMM  1963-10-01 04:00:00  0.564008
8     MMM  1964-01-01 05:00:00  0.565919
9     MMM  1964-04-01 05:00:00  0.516363
10    MMM  1964-07-01 04:00:00  0.499680
11    MMM  1964-10-01 04:00:00  0.490695
12    MMM  1965-01-01 05:00:00  0.545007
13    MMM  1965-04-01 05:00:00  0.515078
14    MMM  1965-07-01 04:00:00  0.533062
15    MMM  1965-10-01 04:00:00  0.613410
16    MMM  1966-01-01 05:00:00  0.597923
17    MMM  1966-04-01 05:00:00  0.672221
18    MMM  1966-07-01 04:00:00  0.706076
19    MMM  1966-10-01 04:00:00  0.715627
20    MMM  1967-01-01 05:00:00  0.849598
21    MMM  1967-04-01 05:00:00  0.746511
22    MMM  1967-07-01 04:00:00  0.830483
23    MMM  1967-10-01 04:00:00  0.880214
24    MMM  1968-01-01 05:00:00  0.808024

In [28]:
df3.tail(10)

       symbol           timestamps       price
110999    ZTS  2024-06-01 04:00:00  172.019730
111000    ZTS  2024-07-01 04:00:00  178.648087
111001    ZTS  2024-08-01 04:00:00  182.504501
111002    ZTS  2024-09-01 04:00:00  194.330627
111003    ZTS  2024-10-01 04:00:00  177.819778
111004    ZTS  2024-11-01 04:00:00  174.721786
111005    ZTS  2024-12-01 05:00:00  162.438919
111006    ZTS  2025-01-01 05:00:00  170.384903
111007    ZTS  2025-02-01 05:00:00  171.429993
111008    ZTS  2025-02-10 14:38:23  171.179993

In [29]:
# Change to datetime from stocks. 
df3['timestamps'] = pd.to_datetime(df3['timestamps'])

In [30]:
df3['year'] = df3['timestamps'].dt.year
df3['month'] = df3['timestamps'].dt.month
df3['day'] = df3['timestamps'].dt.day

In [31]:
cols = ['year', 'month', 'day', 'symbol', 'price']
df3 = df3[cols]
df3.head(5)

   year  month  day symbol     price
0  1962      1    1    MMM  0.596781
1  1962      4    1    MMM  0.401557
2  1962      7    1    MMM  0.415478
3  1962     10    1    MMM  0.455712
4  1963      1    1    MMM  0.503856

In [32]:
df3.dtypes

year        int32
month       int32
day         int32
symbol     object
price     float64
dtype: object

In [33]:
# Assuming your DataFrame is named df3
# Filter for January 1st
df_jan1 = df3[(df3['month'] == 1) & (df3['day'] == 1)]

# Sort by symbol and year to ensure proper order
df_jan1 = df_jan1.sort_values(by=['symbol', 'year']).reset_index(drop=True)

# Calculate annual return using lambda function
annual_returns = df_jan1.groupby('symbol').apply(
    lambda group: pd.Series(
        (group['price'].values[1:] - group['price'].values[:-1]) / group['price'].values[:-1],
        index=group['year'].values[1:]
    )
).reset_index(name='annual_return')

/var/folders/bs/hzz4qdm57z9cct0t_9rdynfr0000gn/T/ipykernel_9516/3495892641.py:9: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  annual_returns = df_jan1.groupby('symbol').apply(

In [34]:
annual_returns

     symbol  level_1  annual_return
0         A     2001      -0.175826
1         A     2002      -0.443630
2         A     2003      -0.457001
3         A     2004       1.236651
4         A     2005      -0.400163
...     ...      ...            ...
7542    ZTS     2021       0.155902
7543    ZTS     2022       0.302372
7544    ZTS     2023      -0.165603
7545    ZTS     2024       0.145224
7546    ZTS     2025      -0.081025

[7547 rows x 3 columns]

In [35]:
annual_returns = annual_returns.rename(columns={'level_1': 'year'})

In [36]:
pivoted_df = annual_returns.pivot(index='symbol', columns='year', values='annual_return')

In [37]:
pivoted_df = pivoted_df.loc[:, pivoted_df.columns >= 2000]
pivoted_df

year,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
symbol,,,,,,,,,,,,,,,,,,,,,,,,,,
A,NaN,-0.175826,-0.443630,-0.457001,1.236651,-0.400163,0.533695,0.001544,0.058125,-0.466037,0.550332,0.492329,0.015300,0.064935,0.311951,-0.085558,0.009901,0.314911,0.513005,0.045280,0.094868,0.464953,0.166005,0.100217,-0.138313,0.172724
ABBV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.265473,-0.060425,0.156146,0.903368,-0.256630,0.066117,0.334896,0.399843,0.121386,0.157641,0.159504
ACN,NaN,NaN,NaN,-0.358030,0.430212,0.100549,0.225018,0.210563,-0.073251,-0.073881,0.323986,0.279282,0.136552,0.282046,0.137965,0.079049,0.283052,0.100736,0.439710,-0.027251,0.353297,0.197815,0.479623,-0.200020,0.324714,0.074910
AEE,-0.113187,0.343981,0.117012,-0.025646,0.303046,0.096066,0.062023,0.098696,-0.115356,-0.207157,-0.181264,0.176504,0.175663,0.078289,0.222073,0.245187,0.033930,0.213890,0.108884,0.262255,0.214235,-0.090901,0.253105,0.004831,-0.173741,0.400650
AEP,-0.200568,0.686570,0.034035,-0.469311,0.538858,0.080342,0.038677,0.492893,-0.117170,-0.367147,0.428641,0.079510,0.154344,0.320188,0.086135,0.154251,0.225444,0.047262,0.057589,0.266624,-0.014294,0.093665,0.220210,-0.056734,-0.015202,0.212980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
XYL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.095309,0.214818,0.036476,0.071243,0.391106,0.484362,-0.002145,0.160483,0.198476,0.097651,0.003267,0.095110,0.115341
YUM,-0.398160,0.258341,0.549139,-0.169176,0.462900,0.373826,0.076559,0.225827,0.157265,-0.145358,0.224417,0.396204,0.381942,0.044621,0.054886,0.098685,0.023491,0.289274,0.313188,0.130470,0.144247,-0.022002,0.253997,0.062703,0.010853,0.027856
ZBH,NaN,NaN,NaN,0.260375,0.865854,0.030719,-0.125555,0.221464,-0.072192,-0.534169,0.547254,0.050426,0.026877,0.241631,0.272247,0.203207,-0.107166,0.202398,0.082845,-0.130693,0.359887,0.047295,-0.194260,0.075061,-0.006010,-0.120844
ZBRA,0.960662,-0.059134,-0.047542,0.053167,0.734694,0.182585,-0.115845,-0.230069,-0.114220,-0.451970,0.550802,0.490421,-0.027249,0.143763,0.269871,0.518559,-0.276300,0.385265,0.471973,0.409549,0.376843,0.622584,0.312740,-0.378968,-0.242362,0.636151
ZTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.419927,0.014836,0.286896,0.406686,0.129592,0.567610,0.155902,0.302372,-0.165603,0.145224,-0.081025

In [38]:
# Strip any leading/trailing spaces from column names
df3.columns = df3.columns.str.strip()

# Check column names again
print(df3.columns)

Index(['year', 'month', 'day', 'symbol', 'price'], dtype='object')